@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.card {
  background-color: white;
  margin-top: 40px;
  display: inline-block;
  height: 500px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}

.top-suit {
  position: absolute;
  top: -10;
  left: 0;
  font-size: 60px;
}

.number {
  position: absolute;
  top: 40%;
  left: 45%;
  margin: auto;
  text-align: center;
  font-size: 60px;
}

.bottom-suit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50px;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.refresh-button {
  text-align: center;
}

.spades {
  content: "\2660";
}
.hearts {
  content: "\2665";
  color: red;
}
.diamonds {
  content: "\2666";
  color: red;
}
.clubs {
  content: "\2663";
}
